---
import MainLayout from "../../layouts/MainLayouts.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import SearchForm from "../../components/SearchForm.astro";
import Pagination from "../../components/Pagination.astro";
import { ARTICLES_PER_PAGE } from "../../constants";

const currPage: number | null = +Astro.url.searchParams.get("page")! || 1;
const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const totalPages: number = Math.ceil(
  allBlogArticles.length / ARTICLES_PER_PAGE
);

const articleForPage: CollectionEntry<"blog">[] = allBlogArticles.slice(
  (currPage - 1) * ARTICLES_PER_PAGE,
  currPage * ARTICLES_PER_PAGE
);
---

<MainLayout>
  <h1 class="text-2xl pb-3">All Articles</h1>
  <!-- Main Grid -->
  <SearchForm />
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Article Card -->
    {articleForPage.map((article) => <ArticleCard article={article} />)}
  </div>
  <Pagination currPage={currPage} totalPages={totalPages} disablePrev={currPage === 1} disableNex = {currPage === totalPages}/>
</MainLayout>
   