---
import MainLayout from "../layouts/MainLayouts.astro";
import SearchForm from "../components/SearchForm.astro";
import { HOME_PAGE_ARTICLE_LIMIT } from "../constants";
import ArticleCard from "../components/ArticleCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";
import MostRecentArticle from "../components/MostRecentArticle.astro";

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const mostRecentArticle: CollectionEntry<'blog'> = allBlogArticles[0]
const otherArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(1)
---

<!-- Top Grid -->
<MainLayout title="Home">
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        Articles, Stories & Tutorials for Tech People
      </h1>
      <SearchForm name = "henok"/>
      
    </div>
    <!-- Most Recent Article -->
    <MostRecentArticle article={mostRecentArticle}/>
  </div>

  <!-- Main Grid -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {otherArticles.slice(0, HOME_PAGE_ARTICLE_LIMIT).map(article => (
      <ArticleCard article={article}/>
    ))}
    
  </div>
</MainLayout>
