---
const { currPage, totalPages, disablePrev, disableNex } = Astro.props;

interface Props {
    currPage: number;
    totalPages: number;
    disablePrev: boolean;
    disableNex: boolean;
}

---

<div class="flex justify-between mt-10">
  <a
    href={"/articles?page=" + (currPage - 1)}
    class={disablePrev ? `bg-gray-200 inline-block px-3 py-2 text-gray-400 rounded-lg pointer-events-none` : `bg-indigo-100 inline-block px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg`}
  >
    Previous
  </a>
  <div class=" flex items-center gap-1">
    {new Array(totalPages).fill('').map((dot, index) => (
        <span class={currPage - 1 === index ? "z-100 w-3 h-3 rounded-full  bg-indigo-400" : "z-100 w-2 h-2 rounded-full opacity-70 bg-indigo-400"}></span>
    ))}
  </div>
  <a
    href={"/articles?page=" + (currPage + 1)}
    class={disableNex ? `bg-gray-200 inline-block px-3 py-2 text-gray-400 rounded-lg pointer-events-none` : `inline-block bg-gray-200 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg`}
  >
    Next
  </a>
</div>
